<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /projet/openclassroom/projet3/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]
</IfModule>
